footer{
  margin-top: 100px;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 640px;
  background-color: #022222;
  /* transform: skewY(5deg); */
}

.container{
  margin-left: 70px;
  /* margin-top: 60px; */
}

h2, h3, p{
  color: #fff;
}


@media screen and (min-width: 1024px) {
  .talk_start,
  .talk_end {
      display: block
  }
}

.container_footer{
  display: block;
  float: left;
  margin-top: 70px;
  margin-left: 10px;
  width: 24%;
  height: 300px;

}

.title{
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;

}
.container_info{
  margin-top: 90px;
}

h3, p{

  font-size: 15px;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* ul li a */
.title_final{
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  bottom: -210px;
  left: 12px;
}

.container_button{
  height: 35px;
  width: 120px;
  background-color: #4267b2;
  border-radius: 10px;
  cursor: pointer;
border: none;
}


.container_buttonn{
  height: 35px;
  width: 120px;
  background-color: #4267b2;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.icon_like{
  margin-left: 5px;
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  /* font-size: 14px;
  font-weight: 700; */
}

.but_titleOne{
  /* text-align: center;
  display: block; */
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.but_title{
  /* text-align: center;
  display: block; */
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}


.button_face{
  height:32px;
  width:32px;
  border: 0px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  -webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.button_google{
  height:32px;
  width:32px;
  border: 0;
  background-color:transparent;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  -webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.button_insta{
  height:32px;
  width:32px;
  border: 0;
  background-color:transparent;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  -webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.button_skype{
  height:32px;
  width:32px;
  border: 0;
  background-color:transparent;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  -webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.button_twitter{
  height:32px;
  width:32px;
  border: 0;
  background-color:transparent;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  -webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

/* ***************************** */

.button_face:hover{
background-color: #3B5998;
border-radius: 3px;
}
.button_google:hover{
  background-color: #dd4b39;
  border-radius: 3px;
}
.button_insta:hover{
  background-color: #2C6A93;
  border-radius: 3px;
}
.button_skype:hover{
  background-color: #00aff0;
  border-radius: 3px;
}
.button_twitter:hover{
  background-color: #55ACEE;
  border-radius: 3px;
}
/* ***************************** */

.icon_face{
  height: 27px;
  width: 27px;
}
.icon_google{
  height: 27px;
  width: 27px;
}
.icon_insta{
  height: 27px;
  width: 27px;
}
.icon_skype{
  height: 27px;
  width: 27px;
}
.icon_twitter{
  height: 27px;
  width: 27px;
}


.logo_compus{
  width: 170px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  background-size: 100%;
}
