<div class="section_nosotros">
  <div class="backgroung_nav">
    <!-- <img src="../../../assets/Nosotros/ImgFondo.jpg" alt="" > -->
    <h2 class="back_tittle">Nosotros</h2>
  </div>

  <div class="introduction">
    <!-- <section>
    <div class="segundo">
    </div>
  </section> -->
    <div class="intro_info text">
      <div class="intro_text">
        <h2 class="intro_content tittle">Bienvenido a compusisteh</h2>
        <p class="intro_content text">Computadoras Y Sistemas, nace en la ciudad de Tehuacán, Puebla, en mayo del año
          2000,
          como una propuesta de negocio enfocada a resolver necesidades y problemáticas de sus
          clientes, ofreciendo servicios y productos que satisfagan a sus clientes; en este entonces
          solo a particulares dentro y fuera de la zona. Siendo un éxito, al existir pocas empresas
          empeñadas a solucionar los problemas y dudas de ese entonces.
          Su propietario ISC Omar Huerta Sánchez, es quien encabeza este proyecto al tomar la
          iniciativa de emprender un negocio que pretende ser una organización prestadora de
          servicios en Asesoría y Soporte Técnico, que se ofrece a las empresas, como una
          herramienta que les permite ser más productivos, optimizando tiempos y generando
          desarrollo a las mismas.
          Posteriormente en el año 2002 se abre una oficina al público en general, encabezada por
          el mismo propietario ISC Omar Huerta Sánchez que después de haber hecho una
          excelente labor en la Ciudad. Él decide traer esa misma propuesta a las Micro, Pequeñas y
          Medianas Empresas (MiPyME). Esto se logra con éxito debido a las muchas
          recomendaciones de los particulares, por lo que también se formaliza fiscalmente, para
          poder ofrecer con la legalidad de la facturación a sus clientes.
          Debido a la demanda que la empresa presenta con sus productos y servicios que ofrece,
          en este mismo año el ISC Omar Huerta Sánchez decide llevar la empresa Computadoras Y
          Sistemas a un local más grande, en donde tiene su mayor auge como empresa, es aquí
          donde junto con su esposa, Sra. Andrea Martínez Campos llevan la empresa hacia
          adelante abarcando gran parte del mercado. </p>
      </div>
    </div>
    <div class="intro_info img">
      <img src="../../assets/Nosotros/OmarHuerta.jpg" alt="" class="intro_image img">
      <div class="intro_image box">
      </div>
    </div>
  </div>

  <div class="mision_vision">
    <div class="mision_content">
      <div class="mision_box">
        <div class="mision_box_smoll">
          <img src="../../assets/Nosotros/misionPNG.png" alt="">
        </div>
        <h2 class="mision_subtittle">Misión</h2>
        <p class="mision_text">
          Somos una empresa 100% rentable; dedicada a cubrir las necesidades y problemáticas de nuestros clientes,
          respecto a su patrimonio; a través de un equipo de profesionales informáticos.
        </p>
      </div>
      <div class="mision_box before">
        <div class="mision_box_smoll">
          <img src="../../assets/Nosotros/visionPng.png" alt="">
        </div>
        <h2 class="mision_subtittle">Visión</h2>
        <p class="mision_text">
          Ser una empresa de calidad mundial y líder en el ramo, con presencia local y nacional.
        </p>
      </div>
      <div class="mision_box before">
        <div class="mision_box_smoll">
          <img src="../../assets/Nosotros/politicas.png" alt="">
        </div>
        <h2 class="mision_subtittle">Politicas de Calidad</h2>
        <p class="mision_text">
          En Computadoras y Sistemas; nuestros compromiso es garantizar a todos nuestros clientes: Bienestar, Confort
          y Tranquilidad en las operaciones que realicen en nuestra empresa.
        </p>
      </div>
    </div>
  </div>

  <div class="habitities">
    <div class="habili_tittle">
      <div class="habili_box_head">
        <h2 class="habili_box tittle">Nuestras habilidades</h2>
      </div>
    </div>

    <div class="habili_boxes">
      <div class="habili_cards">
        <div class="cards_porcent">
          <h2 class="porcent">100%</h2>
        </div>
        <div class="cards_text">
          <h3 class="cards_text tittle">Mantenimiento & Soporte</h3>
        </div>
      </div>
      <div class="habili_cards letter">
        <div class="cards_porcent">
          <h2 class="porcent">100%</h2>
        </div>
        <div class="cards_text">
          <h3 class="cards_text tittle">Software y Hardware</h3>
        </div>
      </div>
      <div class="habili_cards letter">
        <div class="cards_porcent">
          <h2 class="porcent">100%</h2>
        </div>
        <div class="cards_text">
          <h3 class="cards_text tittle">Redes y Seguridad</h3>
        </div>
      </div>
      <div class="habili_cards letter">
        <div class="cards_porcent">
          <h2 class="porcent">100%</h2>
        </div>
        <div class="cards_text">
          <h3 class="cards_text tittle">Diseño Web y Acesorias</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="valors">
    <div class="valor_container content">
      <div class="valors_tittle">
        <h2 class="valors_tittle_head">Valores institucionales</h2>
      </div>
      <div class="valor_box disciplina">
        <h2 class="valor_tittle">Disciplina</h2>
        <!-- <p class="valor_text">Realizar los procesos como indican en el proyecto evolución. Respetar
          puntualidad, llevar una planeación y luchar hasta cumplir sus objetivos,
          separando sus cosas personales con las de la empresa, respetar y aprovechar
          los recursos de la empresa, teniendo la convicción de terminar las cosas y no
          dejándolas a medias.</p> -->
      </div>
      <div class="valor_box proactivo">
        <h2 class="valor_tittle">Pro activo</h2>
        <!-- <p class="valor_text">Tener la Iniciativa de prevenir sucesos como, detalles de los sistemas, fechas y
          avisos de vital importancia para los clientes en cuanto a el producto que la
          empresa Ofrece, Solucionar problemas que se presenten y Actuar de manera
          positiva.</p> -->
      </div>
      <div class="valor_box perseve">
        <h2 class="valor_tittle">Perseverancia</h2>
        <!-- <p class="valor_text">Luchar todos los días en contra de las adversidades y de los problemas que se
          puedan presentar, manteniendo su motivación para el logro de los objetivos.</p> -->
      </div>
      <div class="valor_box disponibi">
        <h2 class="valor_tittle">Disponibilidad al cambio</h2>
        <!-- <p class="valor_text"> Llevar a cabo las ideas de la empresa, estas tienden a ser modificadas
          conforme a los resultados que se van presentando, con el fin de cumplir los
          objetivos de la empresa</p> -->
      </div>
      <div class="valor_box equipo">
        <h2 class="valor_tittle">Trabajo en equipo</h2>
        <!-- <p class="valor_text">Compartir conocimientos, experiencias y esfuerzo, aportando lo mejor de
          cada uno y asumiendo responsabilidades para la consecución de un objetivo
          común. </p> -->
      </div>

      <div class="valor_box calidad">
        <h2 class="valor_tittle">Calidad</h2>
        <!-- <p class="valor_text">Que todos los servicios y productos que la empresa ofrece sean de excelencia.
        </p> -->
      </div>
      <div class="valor_box honesti">
        <h2 class="valor_tittle">Honestidad</h2>
        <!-- <p class="valor_text">Es actuar con rectitud, honorabilidad, transparencia y decoro, en concordancia
          con la verdad y la justicia entre lo que se piensa, se expresa y se hace dentro
          de la empresa.
        </p> -->
      </div>
      <div class="valor_box respeto">
        <h2 class="valor_tittle">Respeto</h2>
        <!-- <p class="valor_text">Brindar un trato amable, considerado y digno a los diferentes grupos de
          interés (Compañeros y clientes).</p> -->
      </div>
    </div>
    <div class="schedule_info before">
      <div class="schedule_clock">
        <img src="../../../assets/Nosotros/icons8-clock-50.png" alt="" class="schedule_icon clock">
        <div class="schedule_card">
          <h2 class="schedule_card_text">Horarios</h2>
        </div>
        <div class="schedule_card_inside">
          <h2 class="schedule_card_tittle">Lunes a viernes</h2>
          <p class="schedule_card_hours">09:00am a 02:00pm de 03:00pm a 07:00pm hrs</p>
        </div>
        <div class="schedule_card_inside">
          <h2 class="schedule_card_tittle">Sábado</h2>
          <p class="schedule_card_hours">09:00 am a 13:00 pm hrs</p>
        </div>
      </div>
    </div>
  </div>

  <div class="team_work">
    <div class="team_tittle_after">
      <h2 class="team_work_tittle">Equipo de trabajo</h2>
    </div>
    <div class="team_container">
      <div class="team_card">
        <div class="card_image_img">
          <img src="../../assets/Nosotros/directorGeneral.png" alt="" class="card_cont_img">
        </div>
        <h3 class="team_card_subtittle">Director General</h3>
        <h2 class="team_card_tittle">Omar Huerta Sánchez</h2>
        <p class="team_card_text">
          Gracias por confiar en nosotros tantos años.
          Seguimos trabajando todos los días para ser su
          mejor opción, si tiene algún problema no dude
          en contactarnos; ¡Estamos para Ayudarle!
        </p>
        <ul>
          <li>Telefono: (238) 38 2 86 69</li>
          <li>Telefono: (238) 38 2 98 57 </li>
          <li>Extensión 103 </li>
          <li>Celular: 238 128 07 43 </li>
          <li>Correo: soporte@compusisteh.com</li>
        </ul>
      </div>
      <div class="team_card two">
        <div class="card_image_img">
          <img src="../../assets/Nosotros/creditoConbra.png" alt="" class="card_cont_img">
        </div>
        <h3 class="team_card_subtittle">Credito y Cobranza</h3>
        <h2 class="team_card_tittle">Daniela Aguilar Domingo </h2>
        <p class="team_card_text">
          Trabajamos para tener la mejor relación
          comercial que pueda haber en el mercado,
          acercate y platica con nosotros, para ver que
          solucion tenemos para su empresa, negocio u
          hogar.
        </p>
        <ul>
          <li>Telefono: (238) 38 2 86 69</li>
          <li> Telefono: (238) 38 2 98 57</li>
          <li> Extensión 101</li>
          <li>Correo: soporte@compusisteh.com</li>
        </ul>
      </div>
      <div class="team_card two">
        <div class="card_image_img">
          <img src="../../assets/Nosotros/soportCompus.png" alt="" class="card_cont_img soport">
        </div>
        <h3 class="team_card_subtittle">Soporte Técnico</h3>
        <h2 class="team_card_tittle">Soporte Técnico CompuSisteh</h2>
        <p class="team_card_text">
          Tenemos el mejor equipo de colaboradores para
          atenderlo como se merece, siempre con la mejor
          disposición, en un ambiente cálido y servicial.
        </p>
        <ul>
          <li>Telefono: (238) 38 2 86 69 </li>
          <li>Telefono: (238) 38 2 98 57 </li>
          <li>Extensión: 107 </li>
          <li>Celular: 238 100 05 01 </li>
          <li>Correo: soporte@compusisteh.com</li>
        </ul>
      </div>
    </div>

  </div>
</div>
