<div class="users">
  <div class="user_image">
    <img src="../../../assets/CONTACTO/webmail-logo.svg" alt="" class="user_img">
  </div>
  <form action="">
    <div class="field after">
      <label for="" class="text_top"> Correo electrónico</label>
      <img src="../../../assets/Usuario/userIcon.png" alt="" class="users_icon">
      <input type="email" name="email" required autocomplete placeholder="Dirección de correo">
    </div>
    <div class="field before">
      <label for="" class="text_top"> Contraseña</label>
      <img src="../../../assets/Usuario/passwordIcon.png" alt="" class="users_icon">
      <input  type="password" name="password" required placeholder="Contraseña del correo">
    </div>
    <div class="user_button">
       <button class="user_btn">Iniciar sesión</button>
    </div>
    <div class="user_forget">
      <h2 class="pass_forget">Recuperar contraseña</h2>
    </div>
  </form>
</div>
