<div class="galery_section">
  <div class="backgroung_nav">
    <h2 class="back_tittle">Galería</h2>
  </div>


  <div id="contenedor">
    <!-- <input type="radio " name="filtro" id="seminario">
      <label for="seminario">Seminario y capacitación</label> -->
    <input type="radio" checked aria-selected="true" name="filtro" id="seminario" class="input_active">
    <label for="seminario">Seminario y capacitación</label>
    <input type="radio" name="filtro" id="instalaciones">
    <label for="instalaciones">Nuestras instalaciones</label>
    <input type="radio" name="filtro" id="seguridad">
    <label for="seguridad">Seguridad</label>
    <input type="radio" name="filtro" id="cableado">
    <label for="cableado">Cableado</label>
    <input type="radio" name="filtro" id="implementacion">
    <label for="implementacion">Implementación</label>
    <input type="radio" name="filtro" id="apoyoEsc">
    <label for="apoyoEsc">Apoyo a escuelas</label>
    <!-- <section>
      <ul>
        <li class="list active" id="seminario">Seminarios y Capacitacion</li>
        <li class="list" id="instalaciones">Nuestras instalaciones</li>
        <li class="list" id="seguridad">Seguridad</li>
        <li class="list" id="cableado">Cableado</li>
        <li class="list" id="implementacion">Implementacion</li>
        <li class="list" id="apoyoEsc">Apoyo a escuelas</li>
      </ul>
    </section> -->
    <div id="elementos">
      <div class="images_img">
        <img src="../../../assets/GALERIA/Seminario/img1.jpg" alt="" class="img_seminario " href="image1">
        <img src="../../../assets/GALERIA/Seminario/img2.jpg" alt="" class="img_seminario " href="image2">
        <img src="../../../assets/GALERIA/Seminario/img3.jpg" alt="" class="img_seminario " href="image3">
        <img src="../../../assets/GALERIA/Seminario/img4.jpg" alt="" class="img_seminario " href="image4">
        <img src="../../../assets/GALERIA/Seminario/img5.jpg" alt="" class="img_seminario " href="image5">
        <img src="../../../assets/GALERIA/Seminario/img6.jpg" alt="" class="img_seminario " href="image6">
        <img src="../../../assets/GALERIA/Seminario/img7.jpg" alt="" class="img_seminario " href="image7">
        <img src="../../../assets/GALERIA/Seminario/img8.jpg" alt="" class="img_seminario " href="image8">

        <!-- ///////////////////////////////////////////////////////////////////////// -->

        <img src="../../assets/GALERIA/Instalaciones/img1.jpeg" alt="" class="img_instalaciones">
        <img src="../../assets/GALERIA/Instalaciones/img2.jpeg" alt="" class="img_instalaciones">
        <img src="../../assets/GALERIA/Instalaciones/img3.jpeg" alt="" class="img_instalaciones">
        <!-- ///////////////////////////////////////////////////////////////////////// -->


        <img src="../../assets/GALERIA/Seguridad/img1.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img2.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img3.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img4.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img5.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img6.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img7.jpg" alt="" class="img_seguridad">
        <img src="../../assets/GALERIA/Seguridad/img8.jpg" alt="" class="img_seguridad">

        <!-- ///////////////////////////////////////////////////////////////////////// -->

        <img src="../../assets/GALERIA/Cableado/img1.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img2.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img3.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img4.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img5.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img6.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img7.jpg" alt="" class="img_cableado">
        <img src="../../assets/GALERIA/Cableado/img8.jpg" alt="" class="img_cableado">

        <!-- ///////////////////////////////////////////////////////////////////////// -->

        <img src="../../assets/GALERIA/Implementacion/img1.jpg" alt="" class="img_implementacion">
        <img src="../../assets/GALERIA/Implementacion/img2.jpg" alt="" class="img_implementacion">
        <img src="../../assets/GALERIA/Implementacion/img3.jpg" alt="" class="img_implementacion">
        <img src="../../assets/GALERIA/Implementacion/img4.jpg" alt="" class="img_implementacion">

        <!-- ///////////////////////////////////////////////////////////////////////// -->


        <img src="../../assets/GALERIA/ApoyoAEsc/img2.jpg" alt="" class="img_apoyoEsc">
        <img src="../../assets/GALERIA/ApoyoAEsc/img3.jpg" alt="" class="img_apoyoEsc">
        <img src="../../assets/GALERIA/ApoyoAEsc/img4.jpg" alt="" class="img_apoyoEsc">
        <!-- ///////////////////////////////////////////////////////////////////////// -->

      </div>
    </div>
    <div class="bacground_tittle">

    </div>
    <!-- <article class="light-box" id="image1">
      <a href="#image8" class="next"><</a>
      <img src="../../../assets/GALERIA/Seminario/img1.jpg" alt="">
      <a href="#image2" class="next">></a>
      <a href="#" class="close">x</a>
    </article> -->



  </div>
