<header>
  <div class="wrapper">
    <div class="logo">
      <img src="../../../../assets/Home/NewLogoCompus.jpeg" alt="" routerLink="/" class="log_compus">
    </div>

    <nav class="menu">
      <ul class="menu_items">
        <a href="#" class="tittle_nav">Inicio</a>
        <a href="#nosotros" class="tittle_nav">Nosotros</a>
        <a href="#servicios" class="tittle_nav">Servicios</a>
        <a href="#galeria" class="tittle_nav">Galería</a>
        <a href="#contacto" class="tittle_nav">Contacto</a>
        <a href="javascript:window.open('http://compusisteh.com:2095/','','width=600,height=400,left=50,top=50,toolbar=yes');void 0"
          class="nav_user">Usuario</a>
        <a href="#footer" class="header_a_button">
          <button class="button primary">Contactanos </button>
        </a>
      </ul>
      <span class="btn_nav_menu">
        <i class="nav_menu_i"><img src="../assets/Home/iconMenu.png" alt=""></i>
      </span>
    </nav>

  </div>
</header>

<body>
  <app-home id="home"></app-home>
  <app-nosotros id="nosotros"></app-nosotros>
  <app-servicios id="servicios"></app-servicios>
  <app-galeria id="galeria"></app-galeria>
  <app-contacto id="contacto"></app-contacto>

  <app-footer id="footer">

  </app-footer>


</body>
