<div class="backgroung_nav">
  <h2 class="back_tittle">Servicios</h2>
</div>

<div class="services">
  <div class="services_content after">
    <div class="services_content_tittle">
      <h2 class="services_content_text_tittle">Servicios</h2>
    </div>
    <div class="service_card_info">
      <div class="service_card_contain">
        <img src="../../../assets/Servicios/MantenimientoyP.jpg" alt="" class="service_card_image">
      </div>
      <div class="service_card_contain before">
        <h2 class="service_card_tittle">Mantenimiento Preventivo y Correctivo</h2>
        <p class="service_card_text">
          Son las soluciones que ofrecemos a nuestros clientes para que su equipo se
          desempeñe de manera correcta, reparando las fallas tanto de software como de
          hardware, en esta parte incluimos la limpieza interna del equipo para evitar
          calentamientos innecesarios.
        </p>
      </div>
    </div>
    <div class="service_card_info">
      <div class="service_card_contain">
        <img src="../../../assets/Servicios/Redes.jpg" alt="" class="service_card_image">
      </div>
      <div class="service_card_contain before">
        <h2 class="service_card_tittle">Redes</h2>
        <p class="service_card_text">
          Realizamos la instalación, reparación o modificaciones de sus redes; alámbricas por
          medio del cableado estructurado o inalámbricas por medio de puntos de acceso, o
          enlaces punto a punto, configurando de acuerdo a las necesidades de su hogar o
          empresa.
        </p>
      </div>
    </div>
    <div class="service_card_info">
      <div class="service_card_contain">
        <img src="../../../assets/Servicios/Software.jpg" alt="" class="service_card_image">
      </div>
      <div class="service_card_contain before">
        <h2 class="service_card_tittle">Software</h2>
        <p class="service_card_text">
          Tenemos una gama muy amplia en sistemas de tipo administrativo, comercial y
          contable, que se puede ajustar a sus necesidades, con personal altamente capacitado
          en el uso y manejo de los mismos, para poder otorgarle el mejor servicio.
        </p>
      </div>
    </div>

    <div class="service_card_info">
      <div class="service_card_contain">
        <img src="../../../assets/MasServicios/camaraSecuri.jpg" alt="" class="service_card_image">
      </div>
      <div class="service_card_contain before">
        <h2 class="service_card_tittle"> Cámaras de seguridad</h2>
        <p class="service_card_text">
          Este medio de seguridad que cada día es uno de los
           más utilizados a nivel hogar, empresa y municipios
            , da la posibilidad de tener una herramienta más
            para nuestro patrimonio, con la facultad
            de tener acceso local y remotos. Instalamos, reparamos y
             damos mantenimiento a sistemas de vigilancia CCTV.
        </p>
      </div>
    </div>

  </div>
  <div class="services_content before">
    <div class="services_content_info">
      <div class="serives_head_tittle">
        <h2 class="serives_head_text">Más servicios</h2>
      </div>
      <div class="service_card_info">
        <div class="service_card_contain">
          <img src="../../../assets/MasServicios/capacitacion.jpg" alt="" class="service_card_image">
        </div>
        <div class="service_card_contain before">
          <h2 class="service_card_tittle">Capacitación, Asesoría e
            implementación</h2>
          <p class="service_card_text">
            Contamos con personal experimentado en muchos sistemas
             administrativos, comerciales y contables, para poder
             brindarle el mejor servicio a sus necesidades. instalar,
              implementar, edición y creación de formatos; conocer las
               operaciones del sistema son algunas de las cosas que
                podemos enseñarte a hacer.
          </p>
        </div>
      </div>
      <div class="service_card_info">
        <div class="service_card_contain">
          <img src="../../../assets/MasServicios/timbrado.jpg" alt="" class="service_card_image">
        </div>
        <div class="service_card_contain before">
          <h2 class="service_card_tittle">Timbrado electrónico</h2>
          <p class="service_card_text">
            Dentro de la nueva era fiscal contamos con distintas opciones,
            para que usted pueda cumplir con ellas, dentro de las que
            destaca la posibilidad de poder facturar electrónicamente
            y emitir recibos de nómina de manera ilimitada a un solo
            costo. De igual forma tenemos herramientas para poder llevar
            acabo su contabilidad electrónica, validación de xml, descarga
             de archivos xml de manera masiva, por día, semana, mes y año.
          </p>
        </div>
      </div>
      <div class="service_card_info">
        <div class="service_card_contain">
          <img src="../../../assets/MasServicios/polizaDServi.jpg" alt="" class="service_card_image">
        </div>
        <div class="service_card_contain before">
          <h2 class="service_card_tittle"> Pólizas de Servicio</h2>
          <p class="service_card_text">Es la manera más eficaz y económica
             de contar con el soporte para la reparación,
              mantenimiento y solución de problemas en su equipo
               de computo, sistemas o aditamentos, en el momento
                que Ud. lo necesite y sin preocuparte por pagos
                adicionales o inesperados.
          </p>
        </div>
      </div>
      <div class="service_card_info">
        <div class="service_card_contain">
          <img src="../../../assets/MasServicios/telefonia.jpg" alt="" class="service_card_image">
        </div>
        <div class="service_card_contain before">
          <h2 class="service_card_tittle">Telefonía</h2>
          <p class="service_card_text">
            Ofrecemos la programación, instalación, venta y mantenimiento
            de conmutadores, extensiones o troncales. Estas son algunas
             de las distintas opciones que tenemos para usted. De igual
              manera para todos los accesorios que se utilizan en este
               rubro.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>
