<div class="section_home">

  <div class="container">
    <div class="container_info">
      <h2 class="container_tittle">Computadoras y sistemas</h2>
      <P class="container_text"><span class="talk_end">"La Calidad, el Bienestar, Confort y Tranquilidad"</span>
        Son nuestra mejor oferta para usted y su familia
      </P>
      <button class="btn_container" routerLink="/vermas">Ver más</button>
    </div>
    <div class="container_image">
      <img src="../../../assets/Carrusel/fondoHerraPNG.png" alt="" class="container_img">
    </div>

    <section>
      <div class="segundo">
      </div>
    </section>

    <section>
      <div class="tercero"></div>
    </section>

  </div>

  <div class="card_container">
    <div class="card_info inicio">
      <div>
        <h2 class="card_tittle">Mantenimiento & Soporte
        </h2>
      </div>
      <span class="card_text">
        <p class="card_text parra">Preventivo o correctivo, de todo tu
          equipo de computo, periféricos,
          accesorios y en paquetería o
          programas, pueden ser de tipo
          programado, no planeado o de
          emergencia, Siempre con el
          respaldo de tener al personal más
          capacitado y con experiencia que
          necesitas para la solución de
          problemas que tengas tanto en
          hardware como en software.
        </p>
      </span>
    </div>

    <div class="card_info letter">
      <div>
        <h2 class="card_tittle">Software y Hardware
        </h2>
      </div>
      <span class="card_text ">
        <p class="card_text parra">Manejamos una gran cantidad de productos
          y programas para satisfacer tus necesidades, de tipo Comercial,
          Contabilidad, Bancos, Nómina, Factura Electronica,
          Punto de Venta y en la Nube. De distintas marcas,
          con el respaldo de que le ofrecemos la mejor opción
          para su hogar, negocio o empresa y ademas de contar
          con el conocimiento de cada uno de ellos.
        </p>
      </span>
    </div>

    <div class="card_info letter">
      <div>
        <h2 class="card_tittle">Redes y Seguridad
        </h2>
      </div>
      <span class="card_text ">
        <p class="card_text parra">Estas pueden ser de un tipo alambríco
          o inalambríco y las podemos clasificar en las siguientes
          opciones: VOZ, DATOS, AUDIO Y VIDEO. Administramos tu red
          de datos, instalamos y programamos tu conmutador telefónico
          instalamos tus cámaras de seguridad y liberamos tu DVR para
          que puedas monitorear tu patrimonio en cualquier parte del mundo.
        </p>
      </span>
    </div>

    <div class="card_info letter final">
      <div>
        <h2 class="card_tittle">Diseño Web y Asesoría
        </h2>
      </div>
      <span class="card_text ">
        <p class="card_text parra">Desarrollo + Diseño + Hosting + Dominio + Cuentas
          de correo y servicios de SEO siempre buscando impregnar sus sueños
          en diseño. Tenemos a su disposición una gran cantidad de cursos de
          capacitación con la plenitud de ser su mejor opción para aprender.
          Estos cursos los podemos impartir de manera presencial o remota,
          pregunte cuales y cuantos son los cursos que podemos ofrecer.
        </p>
      </span>
    </div>
  </div>

  <!-- <div class="container_carousel">
    <carousel class="carousel_content" style="height: 380px; padding-left: 50px; padding-right: 50px;">
      <div class="carousel-cell" style="margin-right: 60px;">
        <div>
          <h2 class="card_tittle">Software y Hardware
          </h2>
        </div>
        <span class="card_text ">
          <p class="card_text parra">Manejamos una gran cantidad de productos
            y programas para satisfacer tus necesidades, de tipo Comercial,
            Contabilidad, Bancos, Nómina, Factura Electronica,
            Punto de Venta y en la Nube. De distintas marcas,
            con el respaldo de que le ofrecemos la mejor opción
            para su hogar, negocio o empresa y ademas de contar
            con el conocimiento de cada uno de ellos.
          </p>
        </span>
      </div>
      <div class="carousel-cell" style="margin-right: 60px;">
        <div>
          <h2 class="card_tittle">Redes y Seguridad
          </h2>
        </div>
        <span class="card_text ">
          <p class="card_text parra">Estas pueden ser de un tipo alambríco
            o inalambríco y las podemos clasificar en las siguientes
            opciones: VOZ, DATOS, AUDIO Y VIDEO. Administramos tu red
            de datos, instalamos y programamos tu conmutador telefónico
            instalamos tus cámaras de seguridad y liberamos tu DVR para
            que puedas monitorear tu patrimonio en cualquier parte del mundo.
          </p>
        </span>
      </div>
      <div class="carousel-cell" style="margin-right: 60px;">
        <div>
          <h2 class="card_tittle">Diseño Web y Asesoría
          </h2>
        </div>
        <span class="card_text ">
          <p class="card_text parra">Desarrollo + Diseño + Hosting + Dominio + Cuentas
            de correo y servicios de SEO siempre buscando impregnar sus sueños
            en diseño. Tenemos a su disposición una gran cantidad de cursos de
            capacitación con la plenitud de ser su mejor opción para aprender.
            Estos cursos los podemos impartir de manera presencial o remota,
            pregunte cuales y cuantos son los cursos que podemos ofrecer.
          </p>
        </span>
      </div>

    </carousel>
  </div> -->
</div>
